name: 'TS SDK - Unit Testing'

on:
  pull_request:
    branches:
      - development
      - staging
      - main

jobs:
  coverage:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      checks: write

    steps:
      - uses: actions/checkout@v4

      - name: Run unit tests with coverage
        uses: ArtiomTr/jest-coverage-report-action@v2
        id: coverage
        with:
          test-script: npm run test:unit
          threshold: 95
          coverage-file: ./reports/contentstack-delivery/coverage/coverage-final.json
          base-coverage-file: ./reports/contentstack-delivery/coverage/coverage-final.json